@page  
@model ThAmCo.Events.Pages.Events.ReserveVenueModel  

@{  
  ViewData["Title"] = "ReserveVenue";  
}  

<h1>ReserveVenue</h1>  

<h4>Event</h4>  
<hr />  
        @* Display Event Details (label/name and data columns)*@  
        <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventId)
       </dt>
       <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventId)
       </dd>
        <dt class="col-sm-2">  
            @Html.DisplayNameFor(model => model.Event.Title)  
        </dt>  
        <dd class="col-sm-10">  
            @Html.DisplayFor(model => model.Event.Title)  
        </dd>  
        <dt class="col-sm-2">  
            @Html.DisplayNameFor(model => model.Event.DateAndTime)  
        </dt>  
        <dd class="col-sm-10">  
            @Html.DisplayFor(model => model.Event.DateAndTime)  
        </dd>  
        <dt class="col-sm-2">  
            @Html.DisplayNameFor(model => model.Event.ReservationReference)  
        </dt>  
        <dd class="col-sm-10">
        @if (Model?.Event != null && string.IsNullOrEmpty(Model.Event.ReservationReference))
        {
            <text>None</text>  
        }  
             else  
        {  
             @Html.DisplayFor(model => model.Event.ReservationReference)  
        }  
        </dd>  
        <dt class="col-sm-2">  
            @Html.DisplayNameFor(model => model.Event.EventTypeId)  
        </dt>  
        <dd class="col-sm-10">  
            @Html.DisplayFor(model => model.Event.EventTypeId)  
        </dd>  
        </dl>  

<div class="row">
    <div class="col-md-8">
        <h4>Available Venues</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Date</th>
                    <th>Capacity</th>
                    <th>Cost Per Hour</th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var venue in Model.AvailableVenues)
                    {
                        <tr>
                            <td>@venue.VenueName</td>
                            <td>@venue.VenueCode</td>
                            <td>@venue.Date</td>
                            <td>@venue.Capacity</td>
                            <td>@venue.CostPerHour</td>
                            <td>
                            <form method="post">
                                <input type="hidden" asp-for="EventId" value="@Model.EventId" />
                                <input type="hidden" asp-for="VenueCode" value="@venue.VenueCode" />
                                <button type="submit" asp-page-handler="ReserveVenue">Reserve Venue</button>
                            </form>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
</div>

<div>  
  <a asp-page="./Index">Back to List</a>  
</div>  

@section Scripts {  
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}
