@page
@model ThAmCo.Events.Pages.EventStaffs.RemoveModel

@{
    ViewData["Title"] = "Delete Staffing Assignment";
}

<h1 class="mb-4">Delete Staffing Assignment</h1>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Are you sure you want to remove this staff?</h4>
    <p>This action cannot be undone. Please confirm your choice before proceeding.</p>
</div>

<div class="card mb-4">
    <div class="card-header bg-danger text-white">
        Staffing Details
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staffing.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staffing.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staffing.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staffing.Staff.FirstName) @Html.DisplayFor(model => model.Staffing.Staff.LastName)
        </dd>
    </dl>
  </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Staffing.EventId" />
    <input type="hidden" asp-for="Staffing.StaffId" />

    <div class="d-flex">
        <button type="submit" class="btn btn-danger me-2">
            <i class="bi bi-trash"></i> Delete
        </button>
        <a asp-page="/Events/Details" asp-route-id="@Model.Staffing.EventId" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Back to List
        </a>
    </div>
</form>

