@page
@model ThAmCo.Events.Pages.EventGuests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>GuestBookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Guest)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GuestBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Guest.Email)
            </td>
            <td>
               <a asp-page ="./Remove" asp-route-EventId="@item.EventId" asp-route-GuestId="@item.GuestId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
